<!-- 上方欄位 -->
<nav class="navbar navbar-expand-lg bg-body-tertiary navbarcontainer  pt-4  pb-4 ">
  <div class="container">
    <div class="container-fluid d-flex pe-0 ps-0">
      <a class="navbar-brand assignment fs-4 fw-bold" href="#">Assignment</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      </button>
      <div class="collapse navbar-collapse fw-bold  justify-content-between" id="navbarNavDropdown">
        <ul class="navbar-nav d-flex ">
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" role="button" aria-expanded="false" style="font-size: 0.875rem;">
              All Courses
              <span class="material-symbols-outlined text-success align-bottom" style="padding-left: 9px;">
                keyboard_arrow_down
              </span>
            </a>
            <ul class="dropdown-menu">
            </ul>
          </li>
        </ul>
        <div class="headericon ">
          <a href="">
            <span class="material-symbols-outlined pe-2">
              search
            </span></a>
          <a href="">
            <span class="material-symbols-outlined bell ps-2">
              notifications_active
            </span></a>
        </div>
      </div>
    </div>
  </div>


</nav>
