<nav class="navbar navbar-expand bg-body-tertiary position-fixed left-0 top-0 vh-100">
  <div class="container-fluid flex-column align-items-start h-100">
    <a class="navbar-brand mt-4 mb-3 pb-2 ms-4" href="#">
      <img src="../assets/images/logo-ANSWER.svg" alt="">
    </a>

    <div class="collapse navbar-collapse  flex-column" id="navbarNavAltMarkup">

      <div class="navbar-nav flex-column fw-bold mb-2  ">
        <a class="nav-link navhover  active ps-4  mb-2" aria-current="page" href="#">
          <span class="material-symbols-outlined pe-3 fill_icon">
            insert_chart
          </span>
          Dashboard</a>

        <a class="nav-link navhover active ps-4 mb-2 " aria-current="page" href="#">
          <span class="material-symbols-outlined pe-3 fill_icon">
            forum
          </span>Question</a>
        <!--   -->
        <a class="nav-link navhover active text-success ps-4 border-start border-success border-3 mb-2 "
          aria-current="page" href="#">
          <span class="material-symbols-outlined pe-3 fill_icon">
            assignment
          </span>Assignment</a></span>
        <a class="nav-link navhover active ps-4 mb-2 " aria-current="page" href="#">
          <span class="material-symbols-outlined pe-3 fill_icon">
            video_library
          </span>Course</a>
        <a class="nav-link navhover active ps-4 mb-2 " aria-current="page" href="#">
          <span class="material-symbols-outlined pe-3 fill_icon">
            group
          </span>Admin</a>
        <a class="nav-link navhover active ps-4 mb-2 " aria-current="page" href="#">
          <span class="material-symbols-outlined pe-3 fill_icon">
            settings
          </span>Settings</a>
      </div>
    </div>
  </div>
  </div>
  <div class="d-flex align-items-center mb-5 ps-4 position-fixed start-0 bottom-0">
    <div class="flex-shrink-0">
      <img src="../assets/images/andychen.jpeg" alt="people-image" width="48" height="48"
        class="rounded-circle object-fit-cover">
    </div>
    <div class="flex-grow-1 ps-3">
      <div class="fw-bold ">Andy Chen</div>
      <div class="text-secondary fs-7">andy0401@mail.com</div>
    </div>
</nav>