.navbar{
    width: 296px;
}
.material-symbols-outlined{
    vertical-align: text-bottom;
}

.container-fluid{
    --bs-gutter-x:0rem;
    width: 100%;
}
.navhover{
    width: 296px;
    text-align: left;
}

.navhover:hover{
    background-color: #CED4DA;
}